
header{
    position: relative;
    padding-left: 3%;
    min-width: 440px;
}

.wrapper___header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

nav{
    position: absolute;
    left: 15%;
    display: flex;
    letter-spacing: 5px;
    width: 30%;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav>.links>a{
    color: #353434;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: 900;
    transition: all 0.1s ease-in-out 0s;
}

nav>.links>a:hover{
    transform: scale(1.03);
    color: #000000;
}

.silect_block{
    position: relative;
    left: 85%;
    display: none;
}

select{
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
}

/* logo */
.logo{
    font-family: Poppins;
    color:black;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 800;
    
}
.orange_red{
    color: rgb(255, 106, 0);
    font-weight: 900;
    -webkit-text-stroke: 1.3px rgb(255, 139, 56);
    text-shadow: 1px 1px 1px #000;
}
.orange{
    color: orange;
    font-weight: 900;
    -webkit-text-stroke: 1.3px orange;
    text-shadow: 1px 1px 1px #000;
}
/* ----- */

.block___signIN_login{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    position: absolute;
    left: 70%; 
    margin-top: -20px;
}


.signIn{
    position: relative;
    background: url(../images/bacground/singIn.png) no-repeat;
    background-color: #00000000;
    background-position-x: 10%;
    background-position-y: 50%;
    padding-right: 30px;
    background-size: 25px;
    width: 115px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3rem;
}
.signIn_img{
    display: none;
}
.logIn_img{
    display: none;
}

.signIn:hover{
    transition: all 0.3s ease 0s;
    background-color: #ffda7f;
    background-image: url(../images/bacground/singIn_hover.png) ;
    background-position-x: 10%;
    background-position-y: 50%;
    background-size: 25px;
    border: 1px solid #ffda7f;
    color: #000000;
}

.login{
    position: relative;
    background: url(../images/bacground/login.png) no-repeat;
    background-position-x: 10%;
    background-position-y: 50%;
    padding-right: 30px;
    background-size: 25px;
    width: 115px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3rem;
}
.login>p, .signIn>p{
    position: absolute;
    top: 0%;
    left: 45%;
    letter-spacing: 1px;
    font-weight: 700;
}
.login:hover{
    transition: all 0.3s ease 0s;
    background-color: #ffda7f;
    background-image: url(../images/bacground/login_hover.png);
    border: 1px solid #ffda7f;
    color: #000000;
}
.search{
    position: absolute;
    left: 55%;
    display: flex;
    justify-content: space-between;
    word-spacing: 30px;
    width: 10%;
}
.gray_search{
    background: url(../images/bacground/img/gray_search.png) no-repeat;
    background-size: 20px;
    width: 30px;
    height: 20px;
} 
.gray_search:hover{
    background: url(../images/bacground/img/search.png) no-repeat;
    background-size: 20px;
    width: 30px;
    height: 20px;
}
.busket{
    background: url(../images/bacground/img/busket.png) no-repeat;
    opacity: 0.7;
    background-size: 20px;
    width: 30px;
    height: 20px;
}
.busket:hover{
    background: url(../images/bacground/img/busket.png) no-repeat;
    opacity: 1;
    background-size: 20px;
    width: 30px;
    height: 20px;
}
.shadow___search_img{
    width: 20px;
    color: #cb6161;
}